.root {
    margin: 0;
    padding: 0;
}

.body {
    background: url(./TTTBG.jpg) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.container1 {
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    padding: 1rem;
    box-sizing: border-box;
    height: 90%;
    padding: 30px;
    border: 7px solid #0a4ac0;
    box-shadow: 0 0 1px #2528b4, 0 0 20px #2528b4, 0 0 6px #2528b4, 0 0 12px #2528b4, inset 0 0 1px #2528b4, inset 0 0 2px #2528b4, inset 0 0 6px #2528b4, inset 0 0 12px #2528b4;
    border-radius: 2rem;
}

.title {
    color: #fff;
    border-width: 2px;
    border-style: dashed none;
    border-color: #0a4ac0;
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    margin: 1rem;
}

.cells {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    border-image: initial;
    border: 2px solid #0a4ac0;
    box-shadow: 0 0 1px #2528b4, 0 0 2px #2528b4, 0 0 6px #2528b4, 0 0 12px #2528b4, inset 0 0 1px #2528b4, inset 0 0 2px #2528b4, inset 0 0 6px #2528b4, inset 0 0 12px #2528b4;
}

.border-neon {
    color: #fff;
    background-color: #0a4ac0;
    -webkit-transition: .3s all ease-in;
    transition: .3s all ease-in;
    border: 2px solid transparent;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.border-neon:hover,
.border-neon:focus {
    -webkit-box-shadow: 0px 0px 20px 15px #2528b4;
    box-shadow: 0 0 1px #2528b4, 0 0 2px #2528b4, 0 0 6px #2528b4, 0 0 12px #2528b4, inset 0 0 1px #2528b4, inset 0 0 2px #2528b4, inset 0 0 6px #2528b4, inset 0 0 12px #2528b4;
    background-color: #3e41ee;
}

.footer {
    color: #fff;
    display: grid;
    place-items: center;
}

.result {
    font-size: 30px;
    margin-bottom: 15px
}

@media (max-width: 420px) {
    .cells {
        width: 70px;
        height: 70px;
        font-size: 3rem;
    }
}

@media (max-width: 330px) {
    .cells {
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
}